.blur {
    filter: blur(8px);
}
.noselect {
    user-select: none;
}
html,
body {
    height: 100%;
}
.salmon {
    color: #FF9999;
}
.aqua {
    color: #00FFFF;
}
.neon-border {
    box-shadow: 0 0 20px #2196f3, 0 0 80px #255784;
}

.transition-fade {
    opacity: 1;
    animation-name: fade;
    animation-duration: .5s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bold {
    font-weight: bold;
}