<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<div class="transition-fade position-absolute top-50 start-50 translate-middle">
    <h1 class="text-center">About Me!</h1>
    <h5 class="m-auto salmon">Fluent Languages:</h5>
    <p>Python | PHP | JavaScript</p>
    <h5 class="m-auto salmon">Frameworks/Libraries:</h5>
    <p>Laravel | Express | Node.JS | BootStrap | TailwindCSS</p>
    <h5 class="m-auto salmon">Tools/Software:</h5>
    <p>VSCode | Git | GitHub | Vercel | Postman | Docker</p>
</div>

<%- include('partials/footer') -%>
