<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<div class="transition-fade position-absolute text-center top-50 start-50 translate-middle">
    <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="salmon">TokiProxy</h1>
            <p>TokiProxy is a proxy scraper that scrapes proxies from many proxy websites and automatically checks them to give you the best working proxies.</p>
            <a href="https://proxy.olliwes.me" target="blank">
              <button type="button" class="btn btn-primary">Click Here</button>
            </a>
          </div>
          <div class="col blur noselect">
            <h1 class="salmon">Server Hosting?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ipsum augue, congue viverra cursus sit amet, tristique a nunc. Ut iaculis fringilla sagittis.</p>
            <button type="button" class="btn btn-primary" disabled>Coming Soon...</button>
        </div>
        </div>
      </div>
</div>

<%- include('partials/footer') -%>