<script>
    window.onload = function() {
        var time = new Date().getTime() - window.performance.timing.navigationStart;
        var seconds = Math.floor(time / 1000);
        var milliseconds = time % 1000;
        document.getElementById("time").innerHTML = seconds + "." + milliseconds;
    }
</script>

<script async src="https://arc.io/widget.min.js#KbYz4mug"></script>

<footer class="page-footer font-small bg-dark text-white">
    <div class="footer-copyright fixed-bottom text-center py-3">
        <p class="text-muted">loaded in <span id="time"></span> seconds</p>
    </div>
</main>
</body>
</html>